@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
    }

    html {
        font-size: 62.5%;
    }

    body {
        font-size: 1.6rem;
        font-family: 'Pretendard';
        font-weight: 400;
        margin: 0;
    }

    html,
    body {
        min-height: 100%;
    }

    input {
        outline: none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        -webkit-text-fill-color: #421d06;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    }

    :root {
        -webkit-tap-highlight-color: transparent;
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%;
        cursor: default;
        line-height: 1.5;
        overflow-wrap: break-word;
        word-break: break-word;
        -moz-tab-size: 4;
        tab-size: 4;
        --red: #d6173a;
    }
    :root {
        -webkit-tap-highlight-color: transparent;
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%;
        cursor: default;
        line-height: 1.5;
        overflow-wrap: break-word;
        word-break: break-word;
        -moz-tab-size: 4;
        tab-size: 4;
        --red: #d6173a;
    }

    @font-face {
        font-family: Pretendard;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/Pretendard-Regular.woff') format('woff');
    }

    @font-face {
        font-family: Pretendard;
        font-weight: 500;
        font-display: swap;
        src: url('/fonts/Pretendard-Medium.woff') format('woff');
    }

    @font-face {
        font-family: Pretendard;
        font-weight: 600;
        font-display: swap;
        src: url('/fonts/Pretendard-SemiBold.woff') format('woff');
    }

    @font-face {
        font-family: Pretendard;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/Pretendard-Bold.woff') format('woff');
    }
}

.text-outline {
    text-shadow:
        -1px -1px 0 #421d06,
        1px -1px 0 #421d06,
        -1px 1px 0 #421d06,
        1px 1px 0 #421d06,
        -2px -2px 0 #421d06,
        2px -2px 0 #421d06,
        -2px 2px 0 #421d06,
        2px 2px 0 #421d06,
        -3px -3px 0 #421d06,
        3px -3px 0 #421d06,
        -3px 3px 0 #421d06,
        3px 3px 0 #421d06,
        -4px -4px 0 #421d06,
        4px -4px 0 #421d06,
        -4px 4px 0 #421d06,
        4px 4px 0 #421d06;
}

/* Swiper */
.swiper-button-next,
.swiper-button-prev {
    @apply absolute text-primary;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    @apply text-primary tablet:text-16;
}

.swiper-button-next {
    @apply tablet:flex tablet:justify-end;
}

.swiper-button-prev {
    @apply tablet:flex tablet:justify-start;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    @apply hidden;
}

.swiper-button-next {
    @apply right-[0px] middle:mr-5 tablet:m-0;
}
.swiper-button-prev {
    @apply left-[0px] middle:ml-5 tablet:m-0;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #8b4513;
}

.potato-image-container {
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.potato-image-container img {
    display: block;
    transition: transform 0.3s ease-in-out;
}

.potato-image-container:hover img {
    transform: scale(1.1);
}

.potato-description-container {
    opacity: 0;
    transform: translateX(-10px);
    transition:
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out;
}

.potato-image-container:hover .potato-description-container {
    opacity: 1;
    transform: translateX(0);
}
